<ul class="breadcrumbs">
    <li><a href="#"><i class="fi-home"></i> Home</a></li>
    <li class="current"><a href="#"><%- title %></a></li>
</ul>
<form action="http://162.250.78.47/api/pizzas" method="post">
    <div id="pizza-name">
        <label for="input-pizza-name">Pizza name</label>
        <input id="input-pizza-name" name="name" type="text" value="<%-name%>">
    </div>
    <label>Ingredients</label>
    <div class="row">
        <div class="small-6 columns">
            <ul id="selectable-ingredients" class="inline-list">
                <% _.each(ingredients, function(ingredient) { %>
                    <li>
                        <label
                                for="ingredient-<%-ingredient._id%>"
                                class="ingredient button"
                                data-ingredient-id="<%-ingredient._id%>">
                            <input
                                    id="ingredient-<%-ingredient._id%>"
                                    name="ingredient"
                                    value="<%-ingredient._id%>"
                                    type="radio" />
                            <i class="fi-plus"></i>
                            <%-ingredient.name%>
                        </label>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="columns small-6">
            <ul id="selected-ingredients" class="panel">
            </ul>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="save" class="button expand">
    </div>
</form>